<?php
return array(
	'meta' => 'DBOMetaStorage',
	'storage' => 'FolderStorage',
	
	'name' => '$SERVER_NAME$',
	'description' => '$SERVER_DESCRIPTION$',
	'logo' => $SERVER_LOGO$,
	
	'nice_url' => $NICE_URL$,
	
	'storage_folder' => '$STORAGE_FOLDER$',
	'salt' => '$SALT$',
	
	'database' => array(
		'driver' => 'mysql',
		'host' => '$DB_HOST$',
		'schema' => '$DB_NAME$',
		'username' => '$DB_USER$',
		'password' => '$DB_PASS$'
	)
);